<!DOCTYPE html>
<html>
<head>
	<title>AJDAIN ILYASS</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
 	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
 	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Hind+Madurai&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Passion+One&display=swap" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<!-- local css -->
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/modal.css') }}">
	<!-- local fonts -->
	<link rel="stylesheet" type="text/css" href="{{ asset('css/fonts/style.css') }}">
 	<!-- font awesome -->
 	<link rel="stylesheet" type="text/css" href="{{ asset('librairy/fontawesome-5.12.0/css/all.min.css') }}">
</head>

<body id="home">

<header>
	<nav>
		<ul>
			<li><a href="#about-me"><i class="fas fa-user-tie"></i></a></li>
			<li><a href="#skills"><i class="fas fa-code"></i></a></li>
			<li><a href="#graduations"><i class="fas fa-graduation-cap"></i></a></li>
			<li><a href="#hobbies"><i class="fas fa-biking"></i></a></li>
			<li><a href="#languages"><i class="fas fa-language"></i></a></li>
			<li><a href="#projets"><i class="fas fa-project-diagram"></i></a></li>
		</ul>
	</nav>
		<div id="header-content" class="header-content">
			<img src="./img/Sans titre-11.png">
			<h3><span style="color: #a8a349;">"HELLO</span> WORLD,<br>i'm web <span style="color: #a8a349;">developer."</span></h3>
		</div>
		<div id="mouse-container">
			<center>
				<span><i class="fas fa-mouse"></i></span>
			</center>
		</div>
</header>


<div id="about-me" class="info-container">
<hr>
	<center>
		<h2>QUI SUIS-JE ?</h2>
	</center>
	
		<div class="info-box">
			<div class="info-box-1">
				<span ><i class="fas fa-question-circle"></i></span>
				<img src="./img/14650776_340516429628249_7341851507964216583_n.png" width="299">
			</div>
			<div class="info-box-2">
				<p>
					<span>"</span><span>L</span>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <span>"</span>
				</p>
			</div>
		</div>

	<div class="more-button-container">
		<center>
		<button class="more-button active">PLUS</button>	
		</center>

		<div class="more-container">
			<p>
				<span>"</span><span>L</span>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <span>"</span>
			</p>
		</div>

	</div>

</div>


<div id="skills" class="info-container">
<hr>
	<center>
		<h2>COMPETENCES</h2>
	</center>
	
	<div class="info-box">

	<div class="info-box-1">
		<span ><i class="fas fa-code"></i></span>
		<img src="./img/skills-img.png" width="299">
	</div>
	<div class="info-box-2">
		<p>
			<span>"</span><span>L</span>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <span>"</span>
		</p>
	</div>

	</div>
</div>

<div id="graduations" class="info-container">
<hr>
	<center>
		<h2>FORMATIONS</h2>
	</center>
	
	<div class="info-box">

	<div class="info-box-1">
		<span ><i class="fas fa-graduation-cap"></i></span>
		<img src="./img/graduation-img.png" width="299">
	</div>
	<div class="info-box-2">
		<p>
			<span>"</span><span>L</span>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <span>"</span>
		</p>
	</div>

	</div>
</div>

<div id="hobbies" class="info-container">
<hr>
	<center>
		<h2>LOISIRS</h2>
	</center>
	
	<div class="info-box">

	<div class="info-box-1">
		<span><i class="fas fa-biking"></i></a></span>
		<img src="./img/hobbies-img.png" width="299">
	</div>
	<div class="info-box-2">
		<p>
			<span>"</span><span>L</span>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <span>"</span>
		</p>
	</div>

	</div>
</div>

<div id="languages" class="info-container">
<hr>
	<center>
		<h2>LANGUES</h2>
	</center>
	
	<div class="info-box">

	<div class="info-box-1">
		<span><i class="fas fa-language"></i></a></span>
		<img src="./img/languages-img.png" width="299">
	</div>
	<div class="info-box-2">
		<p>
			<span>"</span><span>L</span>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <span>"</span>
		</p>
	</div>

	</div>
</div>

<div id="projets" class="info-container">
<hr>
	<center>
		<h2>PROJETS</h2>
	</center>
	
	<div class="info-box">

		<div class="info-box-1">
			<span><i class="fas fa-project-diagram"></i></a></span>
			<img src="./img/projects-img.png" width="299">
		</div>

		<div class="info-box-2">
			<p>
				<span>"</span><span>L</span>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <span>"</span>
			</p>
		</div>

	</div>
</div>

<div id="languages" class="info-container">
	<hr>
		<center>
			<h2>AVIS</h2>
		</center>
		
		<div class="info-box">
	
		<div class="info-box-1">
			<span><i class="fas fa-check-double"></i></span>
			<img src="./img/languages-img.png" width="299">
		</div>
		<div class="info-box-2 avis_container" style="position: relative;">
				{% if accepte_avs|length < 1 %}

				<h1 style="margin-top: 60px; color: #474747;">aucun avis pour le moment</h1>

				{% else %}
				{% for avis in accepte_avs %}
				<div class="avis_content">
				<p>
				<strong><span>Nom de l'auteur : </span> {{avis.idPersonne.nomPrs}}</strong><br>
				<strong><span>Prenom de l'auteur : </span> {{avis.idPersonne.prenomPrs}}</strong><br>
				<strong><span>Avis : </span> {{ avis.contenuAvs}}</strong>
				</p>
				</div>

				{% endfor %}
				{% endif %}
		</div>
	
		</div>

		<center>
			<div class="btn-links-container">
			<a class="contact-btn" href="{% if app.user %}#ajouter-un-avis{% else %}{{path('app_login')}}{% endif %}">AJOUTER UN AVIS</a>
			<a class="contact-btn" href="{{ path('contact') }}">ME CONTACTER</a>
			</div>
		</center>
	</div>


{% if app.user %}

<div id="ajouter-un-avis" class="modal-window">
	<div style="background: #EEEEEE;">
	  <a href="#" title="Close" class="modal-close">Fermer</a>
	  <h1>Ajouter un avis</h1>
	  <p style="color: #E36767;"><i class="fas fa-exclamation-triangle"></i> Votre avis serra d'abord analyser avant d’être publié pour empêcher dans l'avenir la diffusion de contenu inapproprié ou encore lutter contre les spams</p>
	  {{ form_start(form) }}

	  <div class="wrapper">

		{% if form.contenu_avs.vars.valid %}

		{{ form_widget(form.contenu_avs, 
			{'attr':{'maxlength':"500",'placeholder':'Laisser un avis...','autofocus':''}}) }}
		
		{% else %}

		{{ form_widget(form.contenu_avs, 
			{'attr':{'style':'border: 1px #E36767 solid;','maxlength':"500",'placeholder':'Laisser un avis...','autofocus':''}}) }}

		{% endif %}

	  <div id="the-count">
		<span id="current">0</span>
		<span id="maximum">/ 500</span>
	  </div>
	</div>

	<p style="margin-bottom: 5px; color: #E36767;">{{form.contenu_avs.vars.errors|replace({'ERROR:':''})}}</p>



	<button type="submit" class="button-success">Envoyer</button>

	  {{ form_end(form) }}
	  </div>
  </div>

  <div id="alert-area" class="alert-area"></div>

{% endif %}


<footer>
	<div class="footer-flex" style="position: relative;top: 50px;">
		<ul class="footer-infos">
			<li><i class="fas fa-phone-alt"></i><span>06 09 98 98 98</span></li>
			<li><i class="fas fa-envelope"></i><span>email@gmail.com</span></li>
			<li><i class="fas fa-map-marker-alt"></i><span>Rennes, France</span></li>
		</ul>
		<div class="footer-links">
			<a target="_ublank" href="https://github.com/ilyass200"><i class="fab fa-github"></i></a>
			<a target="_ublank" href="https://www.linkedin.com/in/ilyass-ajdaini"><i class="fab fa-linkedin-in"></i></a>
		</div>
	</div>
	<div class="copyright">
		<center>
			<p>© 2019 copyright AJDAINI ILYASS</p>
		</center>
	</div>
</footer>


{% if app.user %}

	<div class="wrapper-circle" style="position: fixed ; bottom: 30px; left: 30px;">
	  <div class="circle pulse"></div>
	  <a href="{{ path('logout') }}" class="circle">
		<span style="font-size: 30px; color: rgb(28, 28, 28); position : relative; left: 22px; top: 20px;"><i class="fas fa-sign-out-alt"></i></span>
	  </a>
	</div>

{% endif %}


{% if first_connection %}

<div id="alert-area" class="alert-area"></div>

{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
<script src="{{ asset('js/alert_box.js') }}"></script>
<script>

$('textarea').keyup(function() {
    
	var characterCount = $(this).val().length,
		current = $('#current'),
		maximum = $('#maximum'),
		theCount = $('#the-count');
	  
	current.text(characterCount);
   
	
	/*This isn't entirely necessary, just playin around*/
	if (characterCount < 70) {
	  current.css('color', '#666');
	}
	if (characterCount > 70 && characterCount < 90) {
	  current.css('color', '#6d5555');
	}
	if (characterCount > 90 && characterCount < 100) {
	  current.css('color', '#793535');
	}
	if (characterCount > 100 && characterCount < 120) {
	  current.css('color', '#841c1c');
	}
	if (characterCount > 120 && characterCount < 139) {
	  current.css('color', '#8f0001');
	}
	
	if (characterCount >= 470) {
	  maximum.css('color', '#8f0001');
	  current.css('color', '#8f0001');
	  theCount.css('font-weight','bold');
	} else {
	  maximum.css('color','#666');
	  theCount.css('font-weight','normal');
	}
	
		
  });
  
var alert = document.querySelector('.alert');

var alertbox = new AlertBox('#alert-area', {
  closeTime: 5000,
  persistent: false,
  hideCloseButton: false
});



let form_response = JSON.parse( {{form_response|json_encode|raw }} );
let alert_area = document.querySelector('.alert-area');

if(form_response.success)
{  
  alertbox.show(form_response.message);
  let alert_box = document.querySelector('.alert-box');
  alert_box.classList.add('success')
}

{% if first_connection %}

alertbox.show("Hey, Bienvenue dans mon portfolio !");
let alert_box = document.querySelector('.alert-box');
alert_box.classList.add('success')

{% endif %}

</script>



</body>
</html>
	